/*selektor znacznika*/

p {
    color: orange;
}


/*sektor id*/

#paragraf {
    color: violet;
}


/*selektor klasy*/

.klasa_paragrafu {
    color: green;
}


/*łączenie selektorów*/

a,
span,
div {
    color: blue
}


/*selektor bezpośredni do elementu potomnego*/

li>a {
    color: aqua;
}


/*selektor elementów potomnych*/

div a {
    color: black;
}


/*selektor bliskiego rodzeństwa*/

h2+h3 {
    color: brown;
}


/*selektory oddzielone znakiem tyldy*/

h4~p {
    color: yellow;
    background-color: black
}